.icon-search {
    background: transparent url("../images/icons8-search-filled.svg") no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block;
    background-size: contain;
    position: relative;
    top: 4px;
}